/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
	left: 0;
    width: 100%; /* Full width */
	z-index: 300;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 300px;
	width: 70%;
	font-size: x-large;
	text-align:justify;
}




.main a {
	color: blue;
	font-weight: bold;
}

.main a:link {
	text-decoration: none;
}

.main a:hover {
	text-decoration: underline;
}


.ggb {
	margin: 100px auto 100px auto;

}

.main h1 {
	text-align:center;
}

.main h2 {
	text-align:center;
}
